<!DOCTYPE html>
<html>
<head>
    <title>Review Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Review Orders</h1>
    <ul>
        {% for order in orders %}
        <li>
            Order ID: {{ order['id'] }}<br>
            Customer Name: {{ order['customer_name'] }}<br>
            Order Status: {{ order['status'] }}<br>
            Total Price: ${{ order['total_price']|default('N/A') }}<br>
            Ordered Dishes:
            <ul>
                {% for dish in order['dishes'] %}
                <li>{{ dish['id'] }} - Quantity: {{ dish['quantity'] }}</li>
                {% endfor %}
            </ul>
        </li>
        <hr>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('index') }}">Back to Menu</a></p>
</body>
</html>
